@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/welcome.css" rel="stylesheet" />
<div class="text-center welcomePage" >
    <h1 class="display-4">Welcome To Smart School</h1>
    @*<img src="~/Assest/schMain.jpg" />*@
    <img src="~/Assest/college.jpg"  />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
